<h1>New Article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, placeholder: "Title" %>
  <%= form.label :content %>
  <%= form.text_area :content, placeholder: "Content" %>
  <%= form.label :author %>
  <%= form.text_field :author, placeholder: "Author" %>
  <%= form.submit value: "Submit" %>
<% end %>