<h1>Latest News</h1>
<div class="container mx-auto px-4" id="categories">

    <%= form_tag("/", method: :get) do %>
        <div class="field">
            <label>Select Category:</label>
            <%= select_tag(:category, options_for_select([ "All", "Sports", "General", "Technology" ], @category_selected), 
                onchange: "this.form.submit();")%>
        </div>    
    <% end %>


    <% if @category_selected.nil? %>
        <div class="category" id="all">
            <% @allfeed.each do | feed |%>
                <h3 class="article-title"><strong><%= feed.title %></strong></h3>
                <img width='150px' src="<%= feed.urlToImage %>">
                <p class="article-content"><%= feed.description %></p>
                <p class="article-agency"><%= link_to "Read the full story", feed.url %></p>
            <% end %>
        </div>
    <% else %>
        <div class="category" id="general">
            <% @category_news.each do | feed |%>
                <h3 class="article-title"><strong><%= feed.title %></strong></h3>
                <img width='150px' src="<%= feed.urlToImage %>">
                <p class="article-content"><%= feed.description %></p>
                <p class="article-agency"><%= link_to "Read the full story", feed.url %></p>
            <% end %>
        </div>
    <% end %>
</div>
