<!DOCTYPE html>
<html>
  <head>
    <title>The Restful News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'nws.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'partials/navbar' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    <div class="pin-b">
      <%= render 'partials/footer' %>
    </div>
  </body>
</html>
